

    <input type='button' onclick=location.href="{% url 'chattings' '0' %}" value = '채팅목록'>
    <input type='button' onclick=location.href="{% url 'settings' %}" value = '프사'>
    

    <input type='button' onclick=location.href="{% url 'boards' '자유게시판'%}" value = '자유게시판'>
    <input type='button' onclick=location.href="{% url 'boards' '사고팔고'%}" value = '사고팔고'>
    <input type='button' onclick=location.href="{% url 'boards' '소통방'%}" value = '소통방'>
    <input type='button' onclick=location.href="{% url 'boards' '공시사항'%}" value = '공시사항'>
    <input type='button' onclick=location.href="{% url 'boards' '고객센터'%}" value = '고객센터'>

    
    