main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;

}

#add_cloth_form {
    margin-top: 5vh;
    padding-top: 1vh;
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#input_img{
    height: inherit;
}

#btn-img{
    width: 300px;
    height: 300px;
}
#btn-img>img{
    width: 100%;
    height:100%;
}
#position_flex1,#position_flex2,#position_flex3{
    display: flex;
    justify-content: flex-start;
}

.btn{
    background-color: #D9D9D9;
}
#sbtn1, #sbtn2, #sbtn3, #sbtn4{
    border-radius: 10px;
    margin-left: 10px;
}

#tbtn1, #tbtn2, #tbtn3, #tbtn4, #tbtn5, #tbtn6{
    border-radius: 10px;
    margin-left: 5px;
}

.input-group{
    border-bottom: 1px solid black;
    padding-bottom: 3px;

}

.input-group-text{
    background-color: white;
    border: none;
}

#input_memo_div{
    grid-column: 1/-1;
    width: inherit;
}
#input_memo{
    width: 100%;
    height: 10vh;
}

#submit_btn{
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    justify-content: center;
}
