header {
  width: 100vw;
  height: 200px;
  display: flex;
  margin-top: 50px;

}

header>div {
  flex: 1;
}

#favorite_logo {
  object-fit: contain;
  display: flex;
  justify-content: center;
}

#favorite_pagination{
    margin-top:20px;
}


.page-link {
  color: #000; 
  background-color: #fff;
  border: 1px solid #ccc; 
}

.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
 
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}

main{
  border-top: 1px solid black;
}