.bar{
    text-align: center;
    color: gray;
    border-bottom: 1px solid black;
    font-size: large;
    margin-bottom: 10px;
}

a{
    color: black;
}

.blockquote p{
    color: blue;
}
.more_section{
    display: flex;
    justify-content: center;
}

#top_bar #s1{
    color: black;
    font-weight: bold;
}
#bottom_bar #s2{
    color: black;
    font-weight: bold;
}
#shoes_bar #s3{
    color: black;
    font-weight: bold;
}
#accs_bar #s4{
    color: black;
    font-weight: bold;
}

#card-area{
    padding-top:20px;
}

#card-area .row-cols-4{
    margin-bottom: 10px;
}

#card-area .row-cols-4 .col{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#search_pagination{
    margin-top:20px;
}

.page-link {
  color: #000; 
  background-color: #fff;
  border: 1px solid #ccc; 
}

.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}