{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- 반복되지 않는 부분 시작 -->
<!-- base.html 에 '반복되지 않는 부분 시작' 바로 밑줄이라고 생각하고 작성할것-->
<input type = button value = 'add clothes' onclick = location.href="{% url 'add_clothe' %}">
<a href="{% url 'clothe_view' 'all' %}">All Products</a>
<a href="{% url 'clothe_view' 'parent_category?=top' %}">top</a>
<a href="{% url 'clothe_view' 'parent_category?=bottom' %}">bottom</a>
<a href="{% url 'clothe_view' 'parent_category?=shoes' %}">shoes</a>
<a href="{% url 'clothe_view' 'parent_category?=ACCs' %}">ACCs</a>

    <a href="{% url 'clothe_view' 'child_category?=반팔' %}">반팔</a>
    <a href="{% url 'clothe_view' 'child_category?=긴팔' %}">긴팔</a>
    <a href="{% url 'clothe_view' 'child_category?=긴바지' %}">긴바지</a>
    <a href="{% url 'clothe_view' 'child_category?=반바지' %}">반바지</a>
    <a href="{% url 'clothe_view' 'child_category?=운동화' %}">운동화</a>
    <a href="{% url 'clothe_view' 'child_category?=구두' %}">구두</a>
    <a href="{% url 'clothe_view' 'child_category?=슬리퍼' %}">슬리퍼</a>
    <a href="{% url 'clothe_view' 'child_category?=시계' %}">시계</a>
    <a href="{% url 'clothe_view' 'child_category?=가방' %}">가방</a>

    <a href="{% url 'clothe_view' 'season?=봄' %}">spring</a>
    <a href="{% url 'clothe_view' 'season?=여름' %}">summer</a>
    <a href="{% url 'clothe_view' 'season?=가을' %}">fall</a>
    <a href="{% url 'clothe_view' 'season?=겨울' %}">winter</a>

    <a href="{% url 'clothe_view' 'style?=스트릿' %}">street</a>
    <a href="{% url 'clothe_view' 'style?=캐주얼' %}">casual</a>
    <a href="{% url 'clothe_view' 'style?=댄디' %}">dandy</a>
    <a href="{% url 'clothe_view' 'style?=스포츠' %}">sports</a>
    <a href="{% url 'clothe_view' 'style?=포멀' %}">formal</a>
    <a href="{% url 'clothe_view' 'style?=레트로' %}">retro</a>

    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=빨강' %}" value="빨강">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=주황' %}" value="주황">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=노랑' %}" value="노랑">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=초록' %}" value="초록">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=파랑' %}" value="파랑">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=남색' %}" value="남색">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=보라색' %}" value="보라색">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=검은색' %}" value="검은색">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=회색' %}" value="회색">
    <input type="radio" name="color" onclick = location.href="{% url 'clothe_view' 'color?=흰색' %}" value="흰색">
<div id = "card-area" class = 'container'></div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" >Previous</a></li>
      <li class="page-item"><a class="page-link" >Next</a></li>
    </ul>
  </nav>
</div>

<script type = "text/javascript">var clothes = "{{clothes}}"</script>
<script src = "{% static 'js/clothe/views.js' %}"></script>
<!-- 반복되지 않는 부분 끝 -->
{% endblock content %}