{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- 반복되지 않는 부분 시작 -->
<!-- base.html 에 '반복되지 않는 부분 시작' 바로 밑줄이라고 생각하고 작성할것-->
<input type = button value = 'add clothes' onclick = location.href="{% url 'add_clothe' %}">

<div id = "card-area" class = 'container'></div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" >Previous</a></li>
      <li class="page-item"><a class="page-link" >Next</a></li>
    </ul>
  </nav>
</div>

<script type = "text/javascript">var clothes = "{{clothes}}"</script>
<script src = "{% static 'js/clothe/views.js' %}"></script>
<!-- 반복되지 않는 부분 끝 -->
{% endblock content %}